params {
    sample_id = "test"
    coverage = 51
    basecall_model = "dna_r10.4.1_e8.2_400bps_sup@v4.2.0"
    project = null
    sample = null
    run = null
    sample_sheet = null
    gpu_config = "A30:1"
    gpu_mem = "4G"
    gpu_partition = "gpuq_interactive"
    trim_length = 150
    trim_min_len = 100
    trim_min_q = 7
    flye_quality = "nano-hq"
    backup_dir = "/stornext/Projects/promethion/promethion_access/lab_bowden/G000309_plasmid-sequencing/long_term/fastq/"
    work_dir = "/vast/scratch/users/cmero.ma/nanopore"
    process.executor = 'slurm'
    container_tag {
      container_medaka = "sha6a58ce1871560b8ddaada5cc1dfc51e5c03442e8"
      container_plasmid = "latest"
    }
}

process {
    withLabel:plasmid {
        container = "lyilawang/wehi_plasmid_validation:${params.container_tag.container_plasmid}"
    }
    withLabel:medaka {
        container = "ontresearch/medaka:${params.container_tag.container_medaka}"
    }
    shell = ['/bin/bash', '-euo', 'pipefail']
}


